[submodule "langs"]
	path = langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs
	ignore = all

[submodule "doc/themes/docdock"]
	path = doc/themes/docdock
	url = https://github.com/emacs-tree-sitter/hugo-theme-docdock
	ignore = all

[submodule "doc/ox-hugo"]
	path = doc/ox-hugo
	url = https://github.com/emacs-tree-sitter/ox-hugo
	ignore = all
