name: Release

on:
  push:
    tags:
      - '*.*.*'
      - '!melpa-stable*'

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: macos-10.15
            emacs-version: '27.2'
            ext: dylib
          - os: ubuntu-18.04
            emacs-version: '27.2'
            ext: so
          - os: windows-2019
            emacs-version: '27.2'
            ext: dll
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Rust
        run: |
          rustup install stable
          rustc -Vv
          cargo -V

      - uses: purcell/setup-emacs@v3.0
        if: runner.os != 'Windows'
        with:
          version: ${{ matrix.emacs-version }}
      # Seems like the Emacs archive from GNU's FTP uses its own outdated bundle of CA certs, which
      # wouldn't include the new LetsEncrypt's root CA cert, which is used by MELPA, among others.
      # So we use mingw64's Emacs instead. TODO: Switch back whenever possible.
      - name: Install Emacs (Windows)
        if: runner.os == 'Windows'
        run: |
          $env:MSYS_PATH = "$env:CD\ci-tools\msys2"
          choco install msys2 --params="/InstallDir:$env:MSYS_PATH /NoPath"
          $env:PATH = "$env:MSYS_PATH\usr\bin;" + $env:PATH
          pacman -S --noconfirm --needed mingw-w64-x86_64-emacs
          echo "$env:MSYS_PATH\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf-8 -Append
      # - uses: jcs090218/setup-emacs-windows@v4
      #   if: runner.os == 'Windows'
      #   with:
      #     version: ${{ matrix.emacs-version }}

      - uses: actions/checkout@v2
        with:
          submodules: true

      - run: .github/script/setup-cask

      - run: bin/setup
      - run: bin/build

      - run: bin/inspect-binaries
        continue-on-error: true

      - name: Install tree-sitter CLI
        run: npm install -g tree-sitter-cli@0.19.3
      - run: bin/test

      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: tsc-dyn
          path: core/tsc-dyn.${{ matrix.ext }}
          if-no-files-found: error

  publish:
    needs: build
    runs-on: ubuntu-18.04
    steps:
      - uses: purcell/setup-emacs@v3.0
        with:
          version: '27.2'
      - uses: actions/checkout@v2
      - name: Generate release notes
        run: |
          bin/dev release-notes $(git describe --tags --abbrev=0) > RELEASE-NOTES
          cat RELEASE-NOTES

      - name: Download binaries
        uses: actions/download-artifact@v2
        with:
          name: tsc-dyn
      - run: ls -R

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          body_path: RELEASE-NOTES
          files: |
            tsc-dyn.*
